name: Pull Request

on:
  pull_request:
    branches: [ master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  style:
    name: Code style check
    uses: ./.github/workflows/code_style_check.yml
  make:
    name: Make
    needs:
    - style
    uses: ./.github/workflows/make.yml
